SG_DATABASE_URL=postgres://sg_app:sg_app_dev@127.0.0.1:55432/superguide
SG_MIGRATION_DATABASE_URL=postgres://sg_migrator:sg_migrator_dev@127.0.0.1:55432/superguide
SG_PORT=8080
SG_PUBLIC_ORIGIN=http://127.0.0.1:8080
ANTHROPIC_API_KEY=
SG_SESSION_SIGNING_KEY=<removed-from-history>
SG_SECRET_ENCRYPTION_KEY=<removed-from-history>
SG_WEBHOOK_SIGNING_KEY=<removed-from-history>
SG_ENABLE_GROUNDED_ACTIONS=false
SG_STEP_BUDGET=12
SG_LOG_LEVEL=info
